<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
		
	<!-- to activate annotations in beans already registered in the application context -->
	<context:annotation-config />

	<!-- scans packages to find and register beans within the application context -->
	<context:component-scan base-package="pe.com.dev" />
	
	<!-- config properties -->
	<bean id="smtpConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:smtp.properties</value>
		</property>
	</bean>
	
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${smtp.host}" />
        <property name="port" value="${smtp.port}" />
        <property name="username" value="${smtp.user}" />
        <property name="password" value="${smtp.pass}" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">${smtp.prop.protocol}</prop>
                <prop key="mail.smtp.auth">${smtp.prop.auth}</prop>
                <prop key="mail.smtp.starttls.enable">${smtp.prop.starttls}</prop>
            </props>
        </property>
    </bean>

</beans>